mediapipe
opencv-python-headless
numpy>=1.21.0
streamlit>=1.18.0
streamlit-webrtc==0.47.6
Pillow>=9.0.0
networkx
joblib
scikit-learn
pandas
matplotlib
torch==2.2.2
torch-geometric==2.6.1
torch-scatter==2.1.0  # Dependency for torch-geometric
torch-sparse==0.6.12  # Dependency for torch-geometric
torch-cluster==1.6.0  # Dependency for torch-geometric
torch-spline-conv==1.2.1  # Dependency for torch-geometric